body {
    background-color: #e3ffea;
  }
  
  h1 {
    color: #025157;
    text-align: center;
  }
  
  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
  }
  
  button {
    color: #fff;
    background-color: #025157;
  }

  .header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 0;
    font-size: 0;
    /*El font size de 0 se da porque generalmente se guarda un espacio para el texto, aún y cuando no haya*/
  }
  
  li {
    display: inline;
    margin: 0 25px;
    color: #025157;
  }
  /* El > * aplica para los hijos*/

  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    /*Si no se especifica el height 100, si el texto mide menos de 45 px, se tomaría el tamaño del texto*/
    vertical-align: middle;
  }

  .logo {
    width: 15%;
    
  }

  .logo > img {
    width: 15%;
  }
  
  .navbar {
    width: 70%;
    text-align: left;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    height: 45px;
  }
  
  .actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
  }

  .actions > * {
    margin: 0 10px;
  }
  
  a {
    color: #67b54b;
  }

  button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border-style: none;
    border-radius: 5px;

  }

  .main {
    margin-top: 140px;
    text-align: center;
  }

  .features {
    background-color: #025157;
    display: grid;
    height: 660px;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 50px;
    padding: 100px 150px;
  }

  article{
    background-color: rgb(255, 255, 255);
    
  }

  .textPart{
    display: inline-block;
    width: 400px;
    
  }

  .rightPictures{
    float: right;
  }

  